version: "3.9"

services:
  nextapp:
    container_name: next-ecommerce-app
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXTAUTH_SECRET=supersecretkey
      - NEXTAUTH_URL=http://localhost:3000
      - MONGODB_URI=mongodb+srv://andresseverino646:aseverinoi123.A@clusterandress.vfyb0cg.mongodb.net/next-ecommerce
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app              
      - /app/node_modules   
    depends_on:
      - mongo
    command: npm run dev    

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:



